body{margin:0; padding:0; font-size:10px; font-family:Calibri, "Calibri", Times, serif; color:#FFFFFF; background-color:#232323;}

/* --------Wrapper------*/

.wrapper{display:block; width:100%; margin:0; padding:0; text-align:center;}

.row1{color:#FFFFFF; background-color:#003FAD;}
.row2{color:#FFFFFF; background-color:#003C5A;}
.row3{color:#FFFFFF; background-color:#003FAD;}

/* --------Header------*/

.row1 h1{text-align:center; font-size:30px}

/* --------Indices------*/

.row2 p{text-align:center; font-size:10px; border-bottom:1px white}
